<link rel="stylesheet" href="../css/main.css">

<!-- Navbar  Section -->

<header class="header">
    <nav class="navbar">
        <div class="div-img">
            <h3 class="navlogo">Blog Web</h3>
        </div>
        <div class="navbar-div1">
            <ul class="menu-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/contact">Contact us</a></li>
                <span id="close-menu-btn" class="material-symbols-outlined">close</span>
            </ul>

        </div>
        <div class="navbar-div2">
            <div class="div-btn">
                <button class="book nav-btn1 b "><a href="/" class="logout login-btn">LOG OUT</a></button>
                <span id="hamburger-btn" class="material-symbols-outlined">menu</span>
            </div>

    </nav>

</header>



<!-- <section class="abt-sec">
    <div class="abt-div">
        <h1>Hello Users</h1>
        <p>Nice to meeet you all , I am the creater of this Blog website.
            I am a student of Diploma IT in Bhagwan Mahavir Polytechnic </p>
        <p>Want to ask quetion?</p>
        <a href="/contact"><button>Contact Us</button></a>
    </div>
</section> -->





<!-- Secction 5 -->



<section id="About" class="about">
    <h1 class="h1-about">About BLog Page<w class="fullStop">.</w>
    </h1>
    <div class=" about-mar">


        <div class="profile-content">
            <p class="about-p"><span class="inside-content">Hello users,</span> Nice to meeet you all , I am the creater
                of this Blog website.
                I am a student of Diploma IT in Bhagwan Mahavir Polytechnic</p>
            <p>Want to ask quetion?</p>
            <a href="/contact"><button>Contact Us</button></a>
        </div>
    </div>
</section>