<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/Admin.css">

</head>

<body>
    <section class="Admin_Sec_1">
        <a class="Abtn" href="/blog">Blog</a><br>
        <a class="Abtn" href="/message">Customer message</a>

    </section>

</body>

</html>