<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warning</title>
</head>
<body>
    <section style="display: flex; justify-content: center; align-items: center; height: 700px;">
        <h1 style="font-size: 60px;">
            Page is not ready
        </h1>
    </section>
</body>
</html>