body {
    font-family: sans-serif;
}


/* Admin Page */

.Admin_Sec_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.Abtn {
    padding: 13px 39px;
    background-color: aliceblue;
    text-decoration: none;
    color: darkgoldenrod;
    transition: 1s;
}

.Abtn:hover{
    background-color: black;
    border-radius: 50px;
}






/* Blog Data Page */
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

td {
    max-width: 217px;
    overflow-x: scroll;
}

tr {
    max-height: 100px;
    overflow-y: scroll;

}

.btn {
    position: absolute;
    left: 1263px;
    top: 110px;
}

.overflow {
    width: 500px;
    height: auto;
    overflow: scroll;
}

.breif {
    height: 44px;
    overflow-y: hidden;
    width: 243px;
}