/* Importing Google font - Fira Sans */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');
/* 
@font-face { font-family: CircularStd; src: url('CircularStd.ttf'); } 
@font-face { font-family: CircularStd; font-weight: bold; src: url('Circular-Std.ttf');}
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}




#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


/* Home */
.home-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-link {
    color: #130d0d;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.1s ease;
}

.home-link1 {
    color: #130d0d;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.1s ease;
    margin-right: 10px;
}

.home-link2 {
    color: #130d0d;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.1s ease;
    margin-right: 10px;
}

.home-h1 {
    position: relative;
    top: -30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: url("pxfuel.jpg") center/cover no-repeat;
    background-color: aliceblue
}

header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 10px;
}

.navbar {
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .hamburger-btn {
    display: none;
    color: #090909;
    cursor: pointer;
    font-size: 1.5rem;
}

.navbar .navlogo {
    gap: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar .logo img {
    width: 40px;
    border-radius: 20%;
}

.navbar .logo h2 {
    color: #060606;
    font-weight: 10000;
    font-size: 2.0rem;
}

.navbar .links {
    display: flex;
    gap: 35px;
    list-style: none;
    align-items: center;
}

.navbar .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    color: #120f0f;
    cursor: pointer;
}

.navbar .links a {
    color: #130d0d;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.1s ease;
}

.navbar .links a:hover {
    color: #ecf0eb;
}

.navbar .login-btn {
    border: none;
    outline: none;
    font-size: 11px;
    font-weight: 600;
    padding: 10px 5px;
}







/* Logout Button */
.logout {
    text-decoration: none;
    color: black;
}

/* Navbar */
header {
    width: 100%;
    height: 110px;
    display: flex;
    background-color: #ffffff;
}

header .navbar {
    width: 100%;
    margin: 0 auto;
}

.navbar-div1 {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: center;
}

.navbar-div2 {
    display: flex;
    align-items: center;
    width: auto;
}

.navbar-div2-btn {
    margin-right: 25px;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 13px;
    padding: 6px 20px;
}

.navbar-div2-btn:hover {
    border: none;
    background-color: #d1820c;
}

.navbar .menu-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin: 0px;
    padding-left: 0px;
}

.navbar .menu-links li a {
    color: rgba(0, 0, 0, 0.864);
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    transition: 0.2s ease;
}

.navbar .menu-links .language-item a {
    display: flex;
    gap: 8px;
    align-items: center;
}

.navbar .menu-links .language-item span {
    font-size: 1.3rem;
}

.navbar .menu-links li a:hover {
    color: gray;
    transition: all 0.5s;
}

.navbar .menu-links .join-btn a {
    border: 1px solid #fff;
    padding: 8px 15px;
    border-radius: 4px;
}

.navbar .menu-links .join-btn a:hover {
    color: #fff;
    border-color: transparent;
    background: #1dbf73;
}



.navbar #hamburger-btn {
    color: #000000;
    cursor: pointer;
    display: none;
    font-size: 1.7rem;
}

.navbar #close-menu-btn {
    position: absolute;
    display: none;
    color: #000;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 1.7rem;
}

.div-img {
    position: relative;
    display: flex;
    justify-content: end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-img {
    width: 60px;
    margin: 0px 10px 0px 0px;
}

.div-btn {
    width: auto;
    display: flex;
    align-items: center;
}

.b {
    margin-right: 20px;
    cursor: pointer;
    transition: 0.15s ease;
}

.b:hover {
    background: #53e60f;
}

.btn2 {
    background-color: white;
    color: black;
}

.nav-btn1 {
    width: 65px;
    height: 40px;
    color: #6f9730;
    background-color: white;
}

.nav-btn2 {
    border: 0px;
    background-color: white;
}

.bt {
    width: 20px;
    height: auto;
}

span {
    left: 224px;
    top: 40px;
}




/* Section 1 */

.centre {
    margin-left: 60px;
}

.postsList {
    list-style: none;
    padding: 35px 100px;
}

.l {
    padding: 35px 100px;
}

.img1 {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.row {
    justify-content: center;
}

.head {
    font-size: large;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.div-content {
    min-height: 138px;
    margin-bottom: 25px;
}

.content {
    font-size: medium;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.author {
    width: 50%;
    font-size: small;
    text-align: left;
}

.date {
    width: 50%;
    font-size: small;
    text-align: right;
}

.a {
    width: 368px;
    margin: 20px 15px;
    text-decoration: none;
    color: black;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .07), 0 1px 18px rgba(0, 0, 0, .05);
}

/* a:visited {
    color: green;
} */

.mainLink {
    padding: 0;
}

.img_sec {
    margin-bottom: 22px;
}

.txt_sec {
    width: -webkit-fill-available;
    padding: 0 12px;
}

.btm {
    position: relative;
    top: 43px;

}



/* Readmore Page */
.blogsec {
    margin: 40px 0px;

}

#postsList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.OuterBlog {
    width: 60%;
}

.blogHead {
    font-size: 45px;
}

.ImgDiv {
    margin: 50px 0px;
}

.blogImg {
    width: 100%;
    max-height: 288px;
    height: auto !important;
    object-fit: cover;
    display: block;
}

.blogContent {
    font-size: 24px;
    line-height: 38px;
}

.FooterDiv {
    margin: 16px 0px 0px 0px;
}

.blogFooter {
    font-size: large;
}


/* About page */


.h1-about {
    position: relative;
    left: 1px;
    top: 130px;
    margin-top: 50px;
    font-size: 56px;
    color: rgb(207 166 204);
    text-align: center;
    margin-bottom: -27px;
}

.about {
    margin-top: -95px;
    margin-bottom: 50px;
}

.about-mar {
    margin-top: 240px;
    display: flex;
    justify-content: center;
}

.profile-div {
    background-color: gray;
    border-radius: 7px;
    width: 400px;
    height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prof-img {
    width: auto;
    height: 223px;
    border-radius: 150px;
    border: 4px solid;
}

.profile-txt {
    margin-top: 10px;
    text-align: center;
}

.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-p {
    margin-left: 76px;
    width: 652px;
    font-size: 22px;
}

.inside-content {
    font-size: 40px;
}




/* Contact Page */
.contact {
    padding-bottom: 150px;
}

.contact-h1 {
    margin-top: 50px;
    font-size: 56px;
    color: rgb(207 166 204);
    text-align: center;
}

.contact-inner {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.lb {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .15em;
}

.input {
    border: 0;
    outline: 0;
    background: #d2d2d2;
    padding: 14px 16px;
    font-family: Poppins, sans-serif;
    border-radius: 3px;
    overflow: hidden;
    box-sizing: border-box;
    color: #252525;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 15px;
}

.submit {
    color: white;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .15em;
    height: 45px;
    background-color: grey;
    border: none;
    /* transition: background .35s ease-in-out,color .35s ease-in-out; */

}

.submit:hover {
    background-color: rgb(21 63 145);
}

/* footer */

.footer-ul {
    list-style-type: none;
    /* Remove bullets */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 72px;
}

.footer-a {
    font-size: 12px;
    opacity: .5;
    font-weight: 700;
    transition: opacity .3s cubic-bezier(.645, .045, .355, 1);
    text-transform: uppercase;
    letter-spacing: .15em;
    font-family: sans-serif;
    text-decoration: none;
    color: gray;
    margin-right: 45px;
}

.f {
    position: relative;
    top: -7px;
    margin-left: 70px;
    margin-right: 70px;
}

.header {
    height: 65px;
}




/* Main home page footer */

.footer {
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.logo {
    width: 25px;
}

.logo4 {
    width: 25px;

}

.footer .row {
    display: block;
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}








/* Responsive Section */


@media (max-width: 425px) {
    .head-img {
        width: 50px;
    }
}

@media (max-width: 989px) {
    .OuterBlog {
        width: 100%;
        padding: 20px 70px;
    }
}



@media screen and (max-width: 900px) {
    /* Navbar */

    header.show-mobile-menu::before {
        content: "";
        height: 100%;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        backdrop-filter: blur(5px);
    }

    .navbar .menu-links {
        height: 100vh;
        max-width: 300px;
        width: 100%;
        background: #fff;
        position: fixed;
        right: -300px;
        top: 0;
        display: block;
        padding: 75px 40px 0;
        transition: right 0.2s ease;
    }

    header.show-mobile-menu .navbar .menu-links {
        right: 0;
    }

    .navbar .menu-links li {
        margin-bottom: 30px;
    }

    .navbar .menu-links li a {
        color: #000;
        font-size: 1.1rem;
    }

    .navbar .menu-links .join-btn a {
        padding: 0;
    }

    .navbar .menu-links .join-btn a:hover {
        color: #5e1dbf;
        background: none;
    }

    .navbar :is(#close-menu-btn, #hamburger-btn) {
        display: inline-block;
        left: 224px;
        top: 40px;
    }


    .div-img {
        width: 50%;
        justify-content: start;
    }


    .navbar-div1 {
        width: 0%;
    }

    .navbar-div2 {
        width: 50%;
        justify-content: end;
    }

}


@media screen and (max-width: 950px) {
    .navbar :is(.hamburger-btn, .close-btn) {
        display: block;
    }

    .navbar {
        padding: 15px 0;
    }

    .navbar .logo img {
        display: none;
    }

    .navbar .logo h2 {
        font-size: 1.4rem;
    }

    .navbar .links {
        position: fixed;
        top: 0;
        z-index: 10;
        left: -100%;
        display: block;
        height: 100vh;
        width: 100%;
        padding-top: 60px;
        text-align: center;
        background: #fff;
        transition: 0.2s ease;
    }

    .navbar .links.show-menu {
        left: 0;
    }

    .navbar .links a {
        display: inline-flex;
        margin: 20px 0;
        font-size: 1.2rem;
        color: #000;
    }

    .navbar .links a:hover {
        color: #00BCD4;
    }

    .OuterBlog {
        width: 100%;
    }
}